@media (max-width:480px) {
    body {
        background: hsl(225deg, 100%, 94%) url("images/pattern-background-mobile.svg") no-repeat top;
        background-size: contain;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

}

@media (max-width:768px) {

    .container {
        width: 90%;
        height: auto;
    }

}